<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/static/js/insight_1.js"></script>
  <link rel="stylesheet" href="/static/css/eee_1.css">
  <title>EEE for Sustainable Development</title>
</head>
<body>
  <h1>불평등, 나아지고 있을까?</h1>
  <h2>지표를 바꾸어가며 교육, 경제 지표의 불평등을 확인해보세요. </h2>
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="{{ url_for('eee') }}">🏚프로젝트 소개</a>
    <a href="{{ url_for('inequality') }}">🎭첫 번째, 불평등</a>
    <a href="{{ url_for('gini') }}">💸두 번째, 지니계수와 지속가능지수</a>
    <a href="{{ url_for('villain') }}">👿세 번째, 기후악당</a>
    <!-- <a href="eee.html">🏚프로젝트 소개</a>
      <a href="insight_1.html">🎭첫 번째, 불평등</a>
      <a href="insight_2.html">💸두 번째, 지니계수와 지속가능지수</a>
      <a href="insight_3.html">👿세 번째, 기후악당</a> -->
  </div>

  <div class="canvas"></div>
  

<!-- 라벨 컨테이너 -->
<div class="label-container">
  <!-- Indicator 드롭다운 -->
  <label for="IndicatorsDropdown">Select Indicator</label>
  <select id="Indicator"></select>

  <!-- Continent 드롭다운 -->
  <label for="ContinentDropdown">Select Continent</label>
  <select id="Continent"></select>

  <!-- nation 드롭다운 -->
  <label for="nationDropdown">Select Nation</label>
  <select id="nations"></select>
</div>

</body>
</html>
