<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/eee.css">
  <title>EEE for Sustainable Development</title>
</head>
<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="eee.html">🏚프로젝트 소개</a>
      <a href="insight_1.html">🎭첫 번째, 불평등</a>
      <a href="insight_2.html">💸두 번째, 지니계수와 지속가능지수</a>
      <a href="insight_3.html">👿세 번째, 기후악당</a>
  </div>

  <!-- Main content -->
  <div class="main-content">
    <!-- Header with the project title and the image -->
    <header>
      <h1>지속가능발전 지표 데이터 시각화</h1>
      <img src="https://cdn.imweb.me/thumbnail/20230207/8efc79c318acc.jpg" alt="EEE for Sustainable Development" style="width:50%">
    </header>
    <p>Reference</p>
    <footer>
      <p>© 2023-2 DAV project by EEE</p>
    </footer>
  </div>
</body>
</html>
