<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/eee.css">
  <title>EEE for Sustainable Development</title>
</head>
<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="eee.html">프로젝트 소개</a>
    <a href="insight_1.html">Insight1</a>
    <a href="insight_2.html">Insight2</a>
    <a href="insight_3.html">Insight3</a>
  </div>

  <!-- Main content -->
  <div class="main-content">
    <!-- Header with the project title and the image -->
    <header>
      <h1>지속가능발전 지표 데이터 시각화</h1>
      <img src="https://cdn.imweb.me/thumbnail/20230207/8efc79c318acc.jpg" alt="EEE for Sustainable Development" style="width:50%">
    </header>
    <footer>
      <p>© 2023-2 DAV project by EEE</p>
    </footer>
  </div>
</body>
</html>
