<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/static/js/insight_1.js"></script>
  <link rel="stylesheet" href="/static/css/eee.css">
  <title>EEE for Sustainable Development</title>
</head>
<body>
  <h1>불평등, 나아지고 있는가?</h1>
  <h2>교육, 경제의 불평등 </h2>
  <!-- Sidebar -->
  <div class="sidebar">
    <a href="eee.html">Home</a>
    <a href="insight_1.html">Insight1</a>
    <a href="insight_2.html">Insight2</a>
    <a href="insight_3.html">Insight3</a>
  </div>

  <div class="canvas"></div>
  

<!-- 라벨 컨테이너 -->
<div class="label-container">
  <!-- Indicator 드롭다운 -->
  <label for="IndicatorsDropdown">Select Indicator</label>
  <select id="Indicator"></select>

  <!-- Continent 드롭다운 -->
  <label for="ContinentDropdown">Select Continent</label>
  <select id="Continent"></select>

  <!-- nation 드롭다운 -->
  <label for="nationDropdown">Select Nation</label>
  <select id="nations"></select>
</div>

</body>
</html>
